@import url('https://fonts.googleapis.com/css?family=Roboto:300');

html { overflow-y: scroll; }

html,
body,
.container-wrapper {
    width: 100%;
    height: 100%;
}

label,
.validation-error {
    display: block;
}

.validation-error {
    opacity: 0;
}

.link {
    color: #efefef;
}

.link:hover {
    text-decoration: none;
    color: #6c757d;
}

.error-status {
    font-size: 26px;
    font-weight: 200;
}

.btn {
    padding: 5px 15px !important;
}

.form-control {
    height: calc(2.25rem + 2px);
    padding: .375rem .75rem !important;
}

.col {
    position: inherit;
}

.nav-item {
    border-bottom: 1px solid black;
}

.nav-link {
    display: inline-block;
    font-size: 20px;
    color: #efefef;
}

.nav-link:hover {
    text-decoration: none;
    color: #62c462;
}

.fav-header {
    font-size: 17px;
    font-family: 'Roboto', sans-serif;
    border-bottom: 1px solid #494f46;
}

.fav-header div:first-child, .channel div:first-child {
    text-align: left;
}

.dropdown-toggle {
    border-top-right-radius: 4px !important;
    border-bottom-right-radius: 4px !important;
    z-index: 0 !important;
}

.dropdown-menu {
    min-width: 6.5rem;
    border-radius: 0;
}

#search-form {
    width: 50%;
}

#btn-group-form {
    display: inline-block;
}

#search {
    display: inline-block;
}

#results {
    border-radius: 0 5px 5px 0;
}

.channel-img {
    margin: 3px;
    border: 1px solid rgb(50, 50, 50);
    border-radius: 5px;
}

.popup-background {
    display: none;
    position: fixed;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 100;
    margin: auto;
    width: 100%;
    height: 100%;
    font-family: 'Roboto', sans-serif;
    background: linear-gradient(rgba(90, 90, 90, 0.4), rgba(50, 50, 50, 0.7));
}

.channel-title {
    font-size: 17px;
}

#channel-settings-form-wrapper,
#video-info-form-wrapper,
#video-settings-form-wrapper,
#channel-form-wrapper {
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    border: 1px solid rgba(0,0,0, 0.6);
    border-radius: 5px;
    background-color: #1c1e22;
    padding-top: 40px;
    padding-bottom: 40px;
}

#channel-form-wrapper {
    width: 400px;
    height: 270px;
}

#channel-settings-form-wrapper {
    width: 400px;
    height: 540px;
}

#video-info-form-wrapper,
#video-settings-form-wrapper {
    width: 400px;
    height: 640px;
}

#factor_currency,
#factor_currency_video,
.close-btn:hover {
    cursor: pointer;
}

.form-group {
    width: 100%;
}

#id {
    width: 100%;
    margin-right: 0 !important;
    margin-bottom: 15px;
}

.video-id {
    color: #aaa;
    background-color: #1c1e22;
    border: 1px solid rgb(108, 117, 125);
    border-radius: 4px;
}

.video-id:focus,
.video-id:focus-within {
    border-color: #62c462;
}

.video-id::placeholder {
    color: #ee5f5b;
}

.video-id,
.add-video {
    float: left;
}

.plural {
    display: none;
}

.slash {
    display: inline;
}

.add-video span,
.edit-channel span {
    pointer-events: none;
}

.edit-channel {
    float: right;
}

.search-element {
    width: 18%;
    margin-left: 1%;
    margin-right: 1%;
    box-sizing: border-box;
    border: 1px solid rgb(50, 50, 50);
    border-radius: 5px;
}

.channel:not(:first-child) {
    border-top: 1px solid #2e332c;
}

.channel-data {
    display: none;
    position: relative;
    width: 100%;
    margin-left: 0 !important;
    padding: 0 15px;
}

.channel-data .element-border {
    margin-bottom: 15px !important;
}

.col-description {
    display: none;
    color: #6c757d;
}

.tracking-selected {
    color: #dc3545;
}

.monthly-highlight div {
    padding: 10px 0;
}

.highlight {
    border: 1px solid rgb(50, 50, 50);
}

.channel:hover {
    cursor: pointer;
}

#channelSettingsFactorCurrency:hover,
#videoSettingsFactorCurrency:hover {
    cursor: pointer;
}

.col-md-3 {
    position: inherit;
}

.element-border {
    padding: 10px;
    border: 1px solid rgb(50, 50, 50);
    border-radius: 5px;
}

.element-border .element-group::after {
   content: " ";
   display: block;
   height: 0;
   clear: both;
}

.element-form {
    display: inline-block;
    width: 100%;
}

.btn-custom {
    padding: 7px 9px;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.3);
    border-radius: 5px;
    background-color: transparent;
    color: #aaa;
}

.tracking-btn {
    margin: 0 15px;
    padding: 7px 0;
    text-align: center;
    background-color: #fff;
    border: 1px solid rgb(50, 50, 50);
    border-radius: 5px;
}

.tracking-btn:hover {
    cursor: pointer;
}

.last-row {
    position: relative;
}

.tooltip-custom {
    color: red !important;
}

.text-custom-success {
    color: #78cc78;
}

.btn-custom-success {
    color: #78cc78;
    border-color: #78cc78 !important;
}

.btn-custom-success:hover {
    border-color: #6c757d !important;
}

.btn-custom-secondary {
    border: 1px solid #6c757d;
}

.btn-custom-secondary:hover {
    color: #6c757d;
}

.btn-custom-danger {
    border: 1px solid #dc3545;
    color: #ff4f60;
}

.btn-custom-danger:hover {
    color: #dc3545;
}

.fav-header div {
    color: #c8c8c8;
}

.video-row div:not(:last-child) {
    line-height: 38px;
}

.video-row div:last-child {
    text-align: right;
}

.text-purple {
    color: #b097de;
}

input[type=radio] {
    width: 15px;
    height: 15px;
}

.earning-border {
    text-decoration: underline;
    color: #62c462;
}

@media only screen and (max-width: 991px) {
    #search-result {
        margin-left: 0 !important;
    }

    #search-result,
    #search-result .search-element {
        display: block;
        width: 100%;
    }

    #search-result .search-element {
        border-style: none;
        border-bottom: 1px solid rgb(50, 50, 50);
        border-radius: 0;
    }

    #search-result .search-element:last-child {
        border-style: none;
    }

    #search-result .search-element::after {
       content: " ";
       display: block;
       height: 0;
       clear: both;
    }

    .channel-img,
    #search-result .search-element form p,
    #search-result .search-element form button {
        display: inline-block;
        float: left;
        margin-bottom: 3px !important;
        margin-top: 3px !important;
    }

    #search-result .search-element form p {
        margin-left: 20px;
    }

    #search-result .search-element form button {
        margin-left: 10px;
    }

    #search-result .search-element form button {
        float: right;
    }

    #search-form {
        width: 100%;
    }

    .element-border .element-group {
        display: block;
        width: 100%;
    }

    .video-row .col span {
        display: block;
    }

    .last-row button {
        width: 100%;
        border-radius: 0;
    }

    .slash {
        display: none;
    }
}

@media only screen and (max-width: 770px) {
    .container {
        max-width: 100%;
        padding-left: 0px;
        padding-right: 0px;
    }

    .data-connection {
        padding-right: 15px;
    }

    .jumbotron {
        border-style: none;
        border-radius: 0;
    }

    #channel-settings-form-wrapper {
        height: 580px;
    }

    #video-settings-form-wrapper {
        height: 685px;
    }

    #channelSettingsEarningFactor,
    #videoSettingsEarningFactor {
        margin-bottom: 5px;
        border-bottom-right-radius: 0;
        border-bottom-left-radius: 0;
    }

    #channelSettingsFactorCurrency,
    #videoSettingsFactorCurrency {
        border-top-left-radius: 0;
        border-top-right-radius: 0;
    }

    .channel,
    .video-header,
    .video-row {
        display: block;
    }

    .video-row::after {
       content: " ";
       display: block;
       height: 0;
       clear: both;
    }

    .plural {
        display: inline;
    }

    .fav-header .col:not(:first-child),
    .video-header .col:not(:first-child) {
        display: none;
    }

    .fav-header .col:first-child,
    .channel .col:first-child {
        text-align: center;
    }

    .col-description {
        display: inline;
    }

    .last-row {
        margin-top: 10px;
        text-align: center !important;
    }

    .last-row button {
        width: 25%;
        margin: 0 !important;
    }

    .slash,
    .video-row .col span {
        display: inline;
    }
}

@media only screen and (max-width: 543px) {
    .video-id,
    .add-video,
    .edit-channel {
        border-radius: 0;
    }

    .video-id {
        display: block;
        width: 100%;
        margin: 0 0 10px 0 !important;
    }

    .add-video {
        width: 50%;
        margin: 0 !important;
    }

    .edit-channel {
        width: 50%;
        margin: 0 !important;
    }
}

@media only screen and (max-width: 500px) {
    #search {
        display: block;
        width: 100%;
        flex: auto;
    }

    #search,
    .dropdown-toggle {
        border-radius: 0 !important;
    }

    .results {
        width: 50%;
        margin: 0 !important;
        margin-top: 10px !important;
    }

    #results {
        width: 100%;
        border-radius: 0;
    }

    #searchChannel {
        width: 50%;
        margin-top: 10px !important;
        border-radius: 0;
    }

    #search-result .search-element form {
        text-align: center;
    }

    .channel-img,
    #search-result .search-element form p,
    #search-result .search-element form button {
        display: block;
        float: none;
        margin: 10px auto !important;
    }

    .display-4,
    .lead {
        text-align: center;
    }

    .last-row button {
        float: left;
        width: 50%;
    }
}

@media only screen and (max-width: 420px) {
    #channel-settings-form-wrapper,
    #video-info-form-wrapper,
    #video-settings-form-wrapper,
    #channel-form-wrapper {
        width: 100%;
        height: 100%;
        margin: 0;
        border-style: none;
        border-radius: 0;
    }
}



@media only screen and (max-width: 365px) {
    .add-video span,
    .edit-channel span {
        display: block;
    }
}

@media only screen and (max-width: 350px) {
    .slash {
        display: none;
    }

    .video-row .col span {
        display: block;
    }
}

@media only screen and (max-height: 700px) {
    #channel-settings-form-wrapper,
    #video-info-form-wrapper,
    #video-settings-form-wrapper,
    #channel-form-wrapper {
        max-height: calc(100vh - 20px);
        overflow-y: auto;
    }
}
